{% extends "base.html" %}
{% block title %}회원가입{% endblock %}
{% block content %}
<div class="narrow centered">
  <div class="page-head"><h1>회원가입</h1></div>
  <div class="panel">
    <form class="stack" method="post" action="/register">
      <div>
        <label for="nickname">닉네임</label>
        <input id="nickname" type="text" name="nickname" required maxlength="30">
      </div>
      <div>
        <label for="email">이메일</label>
        <input id="email" type="email" name="email" required autocomplete="email">
      </div>
      <div>
        <label for="password">비밀번호 (6자 이상)</label>
        <input id="password" type="password" name="password" required minlength="6" autocomplete="new-password">
      </div>
      <button class="btn" type="submit">가입하기</button>
    </form>
    <p class="form-foot">이미 계정이 있으신가요? <a href="/login">로그인</a></p>
  </div>
</div>
{% endblock %}
